POSTGRES_CONNECTION_STRING =
POSTGRES_HOST =
POSTGRES_PORT =
POSTGRES_DATABASE_NAME =
POSTGRES_USERNAME =
POSTGRES_PASSWORD =

KAFKA_BROKERS =
KAFKA_TOPIC_ADS =
KAFKA_CONSUMER_GROUP =

AD_SERVICE_URL =
